{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": "off",
    "indent": "off",
    "strict": 0,
    "comma-dangle": "off",
    "max-len": "off",
    "no-use-before-define": "off",
    "no-extraneous-dependencies":"off"
  },
  "extends": "airbnb-base"
}