<!DOCTYPE html>
<html lang="en" manifest="<%= htmlWebpackPlugin.options.manifest %>">
<head>
    <meta charset="UTF-8"/>
    <title>chayns®</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <link rel="stylesheet" href="https://chayns-res.tobit.com/API/v3.1/css/chayns.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <style>
        ul {
            list-style: none;
        }
    </style>

</head>
<body>

<div class="body-content"></div>

</body>
</html>