.dialogBackgroundLayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10003;
}

.dialogBody {
  background-color: #FFFFFF;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 280px;
  max-width: 410px;
  font-family: 'Roboto', 'Tahoma', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 23px;
  z-index: 101;
  max-height: 1000px !important;
}

@media screen and (min-width: 450px) {
  .dialogBody {
    width: 430px !important;
  }
}

@media screen and (min-width: 375px) {
  .dialogBody {
    min-width: 340px;
  }
}

.dialogBody--date {
  padding: 10px;
}

.dialogContentWrapper {
  overflow-y: auto;
}

.dialogDescription {
  margin-bottom: 15px;
}

.btnWrapper {
  width: 100%;
  text-align: center;
}

.btnWrapper div {
  min-width: 120px;
  margin: 0 5px;
}

.btnWrapper .icon{
  padding-right:5px;
  vertical-align:middle;
  margin-bottom:2%;
}
.dialogItemList {
  /*padding-left: 10px;
  padding-right: 10px;*/
  margin-bottom: 15px;
  overflow-y: auto;
  max-height: 500px;
}

@media screen and (max-height:650px) {
  .dialogItemList {
    max-height: 400px;
  }
}

@media screen and (max-height:580px) {
  .dialogItemList {
    max-height: 360px;
  }
}

@media screen and (max-height:520px) {
  .dialogItemList {
    max-height: 300px;
  }
}

@media screen and (max-height:500px) {
  .dialogItemList {
    max-height: 260px;
  }
}

.dialogItemList .dialogItem {
  border-bottom-style: solid;
  border-width: 0 0 1px 0;
  cursor: pointer;
  line-height: 36px;
  clear: both;
  padding: 5px 0;
}

.dialogItemList .dialogItem:last-child {
  border-bottom: none;
}

.dialogItemList .dialogItem .itemImg {
  padding: 3px 5px 3px 3px;
  float: left;
  max-height: 30px;
}

.dialogItemList .dialogItem div {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: inline;
}

.dialogItemList .dialogItem .itemImg img {
  max-height: 30px;
  max-width: 30px;
}



.dialogItemList .dialogItem span {
  vertical-align: middle;
  position: static;
  margin-left: 5px;
}

.dialogItem.withImg span {
  margin-left: 0;
}

.dialogQuickfind {
  background-color: #F6F7FA;
  display: block;
  font: inherit;
  line-height: inherit;
  padding: 3px;
  width: 90%;
  width: calc(100% - 6px);
  margin-bottom: 10px;
}

.dialogForm {
  /*padding-left: 20px;
  padding-right: 20px;*/
  margin-bottom: 15px;
  overflow-y: auto;
}

.dialogForm .dialogFormItem {
  margin-bottom: 4px;
}

.dialogForm .dialogFormItem input {
  background-color: #F6F7FA;
  display: block;
  font: inherit;
  line-height: inherit;
  width: inherit;
  padding: 3px;
}

.dialogForm .dialogFormItem:last-child {
  margin-bottom: 0;
}

#dlgDate {
  display: none;
}

#dlgTime {
  display: none;
}

#DialogIframe {
  width: 100%;
}

#datePickOuter {
  min-width: 290px;
}



#datePickOuter .arrowRight {
  float:right;
  padding-right:20px;
  font-size:25px !important;
  cursor:pointer;
}

#datePickOuter .arrowLeft {
  font-size:25px !important;
  float:left;
  padding-left:20px;
  cursor:pointer;
}

#datePickOuter .dayName {
  display: table-cell;
  padding-bottom: 10px;
}

#datePickOuter .dayRow {
  display: table-row;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#currentYear {
  color:white;
  padding-bottom: 5px;
  margin-left: 10px;
}

#dayTable {
  display: table;
  width: 90%;
  margin: auto;
}

#dayNames {
  display:table-row;
  text-align: center;
}

#dateHeader {
  padding:10px;
}

#selectMonth {
  display: table-caption;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
#datePickOuter .greyDayCell {
  display:table-cell;
  padding:8px;
  color: #D6D6D6;
}
#datePickOuter .dayCell {
  display:table-cell;
  padding:8px;
}
#datePickOuter .disabledDate {
  color: #D6D6D6 !important;
  cursor: default !important;
}

#monthPicker {
  font-weight: bold;
  display: table;
  margin-top: 30px;
  text-align: center;
  z-index: 131;
  height: 321px;
  width: 100%;
  position: absolute;
  font-size: 16px;
  background-color: white;
}
#datePickOuter .monthCell {
  cursor:pointer;
}

#datePickOuter .hiddenElement {
  visibility: hidden;
}

#selectedDate {
  color:white;
  font-size: 30px;
  padding-bottom: 15px;
  margin-left: 10px
}

#datePickOuter .selected {
  color: #ffffff;
}

#datePickOuter .tableCaption {
  display:table-caption;
  margin-bottom: 10px;
}

#year {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#yearLeft {
  padding-left: 40px;
}

#yearRight {
  padding-right: 40px;
}

#datePickOuter .monthRow {
  display:table-row;
  width:100%;
}

#month {
  cursor: pointer;
}

.timepicker span{padding: 5px;}
.timepicker input{
  display: block;
  border: none;
  text-align: right;
  width: 60px;
  padding: 0 3px 0 3px;
  font-family: inherit;
}
.timepicker input:focus{
  outline: 0;
}

@media screen and (min-width: 451px) {
  .table {
    width: 130px !important;
  }
  div.timepicker{
    clear: both;
    margin: 30px auto 70px;
    overflow: hidden;
    font-family: Roboto, Tahoma, 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  .timepicker .timepicker__minutes {
    position: relative;
    font-size: 50px;
  }
  .timepicker .timepicker__hours {
    position: relative;
    font-size: 50px;
    width: 60px !important;
  }
  .timepicker__seperator {
    position:relative;
    top:16px;
    padding-left: 6px;
    padding-right: 6px;
    font-size:50px;
  }

  #picker__hours {
    width: 60px;
    font-size: 50px;
  }

  #picker__minutes {
    width: 60px;
    font-size: 50px;
  }

  .arrow {
    padding-left: 21px;
    font-size: 26px !important;
    cursor: pointer;
  }

  #timePicker {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .table-width {
    width: 80px !important;
  }
}

@media screen and (max-width: 450px) {
  #selectMonth {
    margin-top: 10px !important;
  }
  .table {
    width: 110px !important;
  }
  div.timepicker{
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    font-family: Roboto, Tahoma, 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
  .table__cell {
    padding: 0 !important;
  }
  .timepicker__minutes {
    position: relative;
    font-size: 33px;
    width: 35px !important;
  }
  .timepicker__hours {
    position: relative;
    font-size: 33px;
    width: 35px !important;
  }
  .timepicker__seperator {
    position:relative;
    top:6px;
    padding-left: 4px;
    padding-right: 6px;
    font-size:33px;
  }
  #picker__hours {
    font-size: 33px;
    width: 35px !important;
  }

  #picker__minutes {
    font-size: 33px;
    width: 35px !important;
  }

  .arrow {
    padding-left: 12px;
    font-size: 18px !important;
    cursor: pointer;
  }
  .table-width {
    width: 35px !important;
  }
}

.chaynsBtn {
  display:inline-block;
  background-color: #6E6E6E;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto', Tahoma, 'robotolight';
  line-height: 23px;
  visibility: visible;
  text-align: center;
  padding: 8px 12px;

  cursor: pointer;

  -webkit-transition: background 150ms ease;
  -moz-transition: background 150ms ease;
  -o-transition: background 150ms ease;
  transition: background 150ms ease;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.chaynsBtn.wide {
  padding: 3px 12px;
}
.chaynsBtn.smaller{
  padding: 2px 15px;
  margin: 0 auto;
  display: block;
  width: 100px;
}
.chaynsBtn.brighter{
  background-color: rgba(110, 110, 110, .3);
}
.chaynsBtn.brighter:hover{
  background-color: rgba(110, 110, 110, .8);
}
.chaynsBtn:hover {
  background-color: rgba(110, 110, 110, .6);
}

.ChaynsCS-Border-30Pcnt {
  border: 1px solid #D4D4D4;
}