#ImageShadow {
    background-color: #000;
    z-index: 10000;
    opacity: 0.8;
}

#ImageWrapper {
    justify-content: center;
    align-items: center;
    z-index: 10001;
    display: flex;

    .image-container {
        position: relative;
        text-align: center;
        width: 80vw;

        img {
            max-height: 80vh;
            max-width: 80vw;
        }

        &.hide {
            display: none;
        }

        .nav-button {
            transition: opacity .3s ease-in-out;
            justify-content: center;
            will-change: opacity;
            align-items: center;
            position: absolute;
            cursor: pointer;
            opacity: 0.15;
            display: flex;
            color: white;
            width: 10vw;
            bottom: 0;
            top: 0;

            i {
                font-size: 30px;
            }

            &.prev {
                left: -9vw;
            }

            &.next {
                right: -9vw;
            }

            &.hide {
                display: none;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.full-display {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}