.navigation {
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 2;
  height: 45px;
  box-sizing: border-box;
  margin-right: 0;
  padding-left: 8px;
  margin-top: 40px;

  .navigation__element {
    padding-left: 8px;
    padding-right: 8px;
    height: 45px;
    font-size: 20px;

    &.text {
      font-size: 15px;
    }
  }
}

