.ChaynsLoadingCursor {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-top: -30px;
  min-height: 72px;
  text-align: center;
  font-size: 14px;
  z-index: 9999;

  &.hidden {
    display: none !important;
  }

  &.right {
    margin-left: 251px;
  }

  &.force-center {
    margin-left: 125px !important;
  }

  &.with-text {
    top: 45%;

    > .loading-spinner-wrapper {
      padding: 8px;
      width: 234px;
    }
  }

  > .loading-spinner-wrapper {
    display: inline-block;
    border-radius: 5px;

    @keyframes rotate-forever {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .loading-spinner {
      animation-duration: 0.75s;
      animation-iteration-count: infinite;
      animation-name: rotate-forever;
      animation-timing-function: linear;

      height: 50px;
      width: 50px;

      border: 6px solid;
      border-right-color: transparent !important;
      border-radius: 50%;

      display: inline-block;
      position: relative;
      top: 3px;

      margin: 5px;
    }
  }

  .loading-spinner-text {
    text-align: left;
    max-width: 400px;
    margin-top: 12px;
    padding: 5px;
    color: #545454;
    line-height: 20px;
  }
}