* {
  margin: 0;
  padding: 0;
  border-width: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none
}

body {
  background-color: #f5f5f5;
  overflow-y: scroll;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.body-content {
  width: 566px;
  transform: translate(-50%);
  margin-left: 50%;

  &.body-content--exclusive-view {
    width: auto !important;
    transform: translate(0, 0) !important;
    margin: 0 !important;
  }
}

#TappIframe {
  width: 100% !important;
}